<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
       <property name="hibernate.dialect"> org.hibernate.dialect.DerbyDialect </property>
       <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
       <property name="hibernate.connection.url">jdbc:derby://localhost:1527/TeeYaiDB;create=true </property>
       <property name="hibernate.connection.username">APP</property>
       <property name="hibernate.connection.password">APP</property>
       
        <!-- property name="connection.driver_class">com.edb.Driver</property>
        <property name="connection.username">price</property>
        <property name="connection.password">price</property>
        <property name="connection.url">jdbc:edb://slambook:5444/chronodo</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property -->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping resource="com/slamtechnology/teeyai/prices/Price.hbm.xml"/>
        <mapping resource="com/slamtechnology/teeyai/trade/TradeStrategy.hbm.xml"/>
        <mapping resource="com/slamtechnology/teeyai/trade/TradeManager.hbm.xml"/>
    </session-factory>

</hibernate-configuration>